@model EntityLayer.Concrete.Experience
@{
    ViewData["Title"] = "EditExperience";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Deneyim Güncelleme Sayfası</h4>
            @using (Html.BeginForm("EditExperience", "Experience", FormMethod.Post))
            {
                @Html.HiddenFor(x => x.ExperienceID)
                <label>Başlık</label>
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                <br />
                <label>Tarih</label>
                @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
                <br />
                <label>Resim Yolu</label>
                @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
                <br />
                <label>Açıklama</label>
                @Html.TextAreaFor(x => x.Description, 10, 3, new { @class = "form-control" })
                <br />
                <button type="submit" class="btn btn-outline-success">Güncelle</button>
            }
        </div>
    </div>
</div>
