@model EntityLayer.Concrete.Portfollio
@{
    ViewData["Title"] = "EditPortfollio";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Proje Düzenleme Sayfası</h4>
            @using (Html.BeginForm("EditPortfollio", "Portfollio", FormMethod.Post))
            {
                @Html.HiddenFor(x => x.PortfollioID)
                <label>Proje Başlığı</label>
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Name)
                <br />
                <label>Görsel-1</label>
                @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.ImageUrl)
                <br />
                <label>Görsel-2</label>
                @Html.TextBoxFor(x => x.ImageUrl2, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.ImageUrl2)
                <br />
                <label>Proje URL</label>
                @Html.TextBoxFor(x => x.ProjectUrl, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.ProjectUrl)
                <br />
                <label>Fotoğraf-1</label>
                @Html.TextBoxFor(x => x.Image1, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Image1)
                <br />
                <label>Fotoğraf-2</label>
                @Html.TextBoxFor(x => x.Image2, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Image2)
                <br />
                <label>Fotoğraf-3</label>
                @Html.TextBoxFor(x => x.Image3, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Image3)
                <br />
                <label>Fotoğraf-4</label>
                @Html.TextBoxFor(x => x.Image4, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Image4)
                <br />
                <label>Platform</label>
                @Html.TextBoxFor(x => x.Platform, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Platform)
                <br />
                <label>Fiyat</label>
                @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Price)
                <br />
                <label>Durum</label>
                @Html.TextBoxFor(x => x.Status, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Status)
                <br />
                <label>Değer</label>
                @Html.TextBoxFor(x => x.Value, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Value)
                <br />
                <button type="submit" class="btn btn-success">Güncelle</button>
            }
        </div>
    </div>
</div>